<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xcsd.app.parent"
    android:installLocation="auto">

    <!-- package="com.tuxing.app.home" -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name="com.tuxing.app.TuxingApp"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true"
        tools:replace="android:icon">
        <meta-data
            android:name="version_name"
            android:value="parent" />

        <!-- 以下是公共activity -->
        <activity
            android:name="com.tuxing.app.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tuxing.app.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.tuxing.app.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tuxing.app.ActiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tuxing.app.activity.MyPhoneNumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tuxing.app.activity.GetVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tuxing.app.activity.MyRoleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tuxing.app.activity.PwdSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tuxing.app.activity.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.SelectFolksActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.EditFolksNameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.FolksListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.InviteFolksListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.InviteVerificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.ContactActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.WebSubUrlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.GameWebSubUrlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.WebSubDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.WebSubDataActivityNoShare"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.LyceumActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.RecipeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.tuxing.app.home.recipeActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tuxing.app.activity.HomeActivityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.activityActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tuxing.app.activity.AnnouncementActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.announcementActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tuxing.app.activity.LyceumInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.MediaRecorderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.VideoPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.HelpAndFBActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.TestActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.TestActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        </activity>
        <activity
            android:name="com.tuxing.app.activity.TestEvaluationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.TestEvaluationActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        </activity>
        <activity
            android:name="com.tuxing.app.activity.TestDespActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xcsd.app.teacher.TestDespActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        </activity>
        <activity
            android:name="com.tuxing.app.activity.SubjectActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xcsd.app.teacher.SubjectActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        </activity>
        <activity
            android:name="com.tuxing.app.activity.MsgRemindActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.SelectPicsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.PicListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.CircleViedeoReleaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.SelectVideoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.VideoCutSecondActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.NewPicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.ClassNewPicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.ClipPictureActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.easemob.ui.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tuxing.app.easemob.ui.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".activity.ChatUserInfoParentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.userInfoParentActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddCloudCardrActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activity.ClassManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.classManagerActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ClassManagerParentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ClassManagerTeaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.HeyReleaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activity.HeyInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SelectIdentityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.HeyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.heyActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LeaderMailBoxActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.LeaderMailBoxActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.leaderMailboxInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LeaderMailboxReleaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.qzq.CircleReleaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.tuxing.app.qzq.ParentCircleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.tuxing.app.qzq.CircleViedeoReleaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.tuxing.app.qzq.MessageUnreadListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.tuxing.app.qzq.MessageUnreadDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.tuxing.app.qzq.MyCircleListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.qzq.ClassPictureListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.ClassRoomPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tuxing.app.activity.ClassRoomListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.ClassRoomListActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.swingCardActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NoticeInboxActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.noticeActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyCloudCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.cloudCardActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyUserInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.myUserInfoActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StudyHomeWorkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.studyHomeWorkActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NoticeInboxInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.StudyRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <receiver
            android:name="com.tuxing.app.receiveiver.DownloadReceiver"
            android:exported="true">
            <intent-filter>

                <!-- 监听下载完成 -->
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.tuxing.sdk.receiver.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5721cd3b67e58efb720011bf">

            <!-- 正式  55daadda67e58e76840013dd   55daadda67e58e76840013dd -->
            <!-- 测试  56020e5067e58e444c004639 -->
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="6c835b0efcdbe1f43a198fa7e2cef355">

            <!-- 正式 fb9577f41ad6533ee3f5a739133af5ba  fb9577f41ad6533ee3f5a739133af5ba -->
            <!-- 测试 a9ec521f2e5004f78d3dcbf1563ceb8e -->
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <!-- echat -->
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 设置环信应用的appkey 在app里动态设置 -->
        <!-- <meta-data -->
        <!-- android:name="EASEMOB_APPKEY" -->
        <!-- android:value="tuxing#weijiayuan2" /> -->
        <!-- easemob-demo#chatdemoui -->
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.easemob.chat.EMChatService"
            android:exported="true"
            android:priority="1000"
            android:process=":TXParent_EMChatService" />

        <activity
            android:name="com.mechat.mechatlibrary.ui.ConversationActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light" />
        <activity android:name="com.mechat.mechatlibrary.ui.ZoomImageActivity" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="com.mechat.mechatlibrary.MechatService"
            android:label="MechatService" />

        <!-- umeng start -->
        <!--<receiver-->
        <!--android:name="com.umeng.message.NotificationProxyBroadcastReceiver"-->
        <!--android:exported="false" />-->
        <!--<receiver android:name="com.umeng.message.RegistrationReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->

        <!--<data android:scheme="com.tuxing.app.home" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<data android:scheme="com.tuxing.app.home" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="com.umeng.message.UmengBroadcastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="org.agoo.android.intent.action.RECEIVE" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xcsd.app.parent.intent.action.COMMAND" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="com.umeng.message.BootBroadcastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver android:name="com.umeng.message.UmengBroadcastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="org.agoo.android.intent.action.RECEIVE" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xcsd.preschool.parent.intent.action.COMMAND" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver android:name="com.umeng.message.BootBroadcastReceiver">-->
        <!--<receiver android:name="com.umeng.message.UmengMessageBootReceiver" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name="com.umeng.message.UmengService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xcsd.app.parent.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>

        <!-- by sck-->
        <!--<service-->
        <!--android:name="com.umeng.message.UmengService"-->
        <!--android:exported="true"-->
        <!--android:label="PushService"-->
        <!--android:process=":pushService_v1">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xcsd.preschool.parent.intent.action.START" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xcsd.preschool.parent.intent.action.COCKROACH" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="org.agoo.android.intent.action.PING" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!--<service-->
        <!--android:name="org.android.agoo.service.ElectionService"-->
        <!--android:exported="true"-->
        <!--android:process=":pushService_v1">-->
        <!--<intent-filter>-->
        <!--<action android:name="org.agoo.android.intent.action.ELECTION_V2" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!--<service-->
        <!--android:name="com.umeng.message.UmengService"-->
        <!--android:exported="true"-->
        <!--android:label="PushService"-->
        <!--android:process=":pushService_v1">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xcsd.app.parent.intent.action.START" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="com.xcsd.app.parent.intent.action.COCKROACH" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="org.agoo.android.intent.action.PING" />-->
        <!--</intent-filter>-->
        <!--</service>-->
        <!--<service-->
        <!--android:name="org.android.agoo.service.ElectionService"-->
        <!--android:exported="true"-->
        <!--android:process=":pushService_v1">-->
        <!--<intent-filter>-->
        <!--<action android:name="org.agoo.android.intent.action.ELECTION_V2" />-->
        <!--</intent-filter>-->
        <!--</service>-->
        <service android:name="com.umeng.message.UmengIntentService" />

        <!-- If you donot want to use the standard notification bar in SDK, you can define IntentService instead to handle message. -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!-- umeng end -->


        <!-- 友盟share key -->
        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104755971" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- <meta-data -->
        <!-- android:name="WEICHAT_APPID" -->
        <!-- android:value="wx93fdabe9f09cc33b"></meta-data> -->
        <!-- <meta-data -->
        <!-- android:name="WEICHAT_SECRET" -->
        <!-- android:value="9ecd9883d29dd6b222b9f0cf2ba2307c"></meta-data> -->
        <meta-data
            android:name="WEICHAT_APPID"
            android:value="wxd831b042de25cbc6" />
        <meta-data
            android:name="WEICHAT_SECRET"
            android:value="cc05ae29be6bb24acb55bb5a567ba4e3" />
        <!-- <meta-data -->
        <!-- android:name="QQ_APPID" -->
        <!-- android:value="1104755971"></meta-data> -->
        <!-- <meta-data -->
        <!-- android:name="QQ_APPKEY" -->
        <!-- android:value="9Vfwpe2p4p897fiK"></meta-data> -->
        <meta-data
            android:name="QQ_APPID"
            android:value="1105366460" />
        <meta-data
            android:name="QQ_APPKEY"
            android:value="eJiudxm5EhIcHpwU" />


        <activity
            android:name=".activity.HomeWorkDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activity.WorkTrainlistActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activity.WorkDoShowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activity.ShowWebSubUrlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activity.StartTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.parent.StartTestActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tuxing.app.activity.ExplainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.teacher.ExplainActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tuxing.app.activity.ExplainHowActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.teacher.ExplainHowActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tuxing.app.activity.ExplainScoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.teacher.ExplainScoreActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tuxing.app.activity.LineColumnDependencyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.xcsd.app.teacher.LineColumnDependencyActivityAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tuxing.app.activity.RadaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnchanged">

        </activity>
        <activity
            android:name="com.tuxing.app.activity.ShareChooseClassActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnchanged">

        </activity>

    </application>

</manifest>
